.block-1 {
    margin-top: calc(3.75rem);
}

.block-3 {
    margin-top: calc(3.75rem);
    @include lg(margin-top, 6.875rem);
}

.block-4 {
    margin-top: calc(3.75rem);
    display: none;
    @include md(display, block);
    @include lg(margin-top, calc(7.5rem));

}

.block-5 {
    margin-top: calc(3.75rem);
}