.m-menu {
    position: fixed;
    background: $dark;
    width: 100%;
    height: 100%;
    display: none;

    &__link a {
        color: $white;
        text-decoration: none;
        font-size: 24px;
    }

    &__link :hover {
        border-bottom: 1px solid $orange;
        transition: 0.6s;
    }

    &__item {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }

    &--active {
        display: block;

    }
}