.header {
    background: $gray;
    transition: $low;

    &__col {
        @include lg (width, calc(100% / 12 * 4));
    }

    &__row {
        @include lg(flex-direction, row);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: calc(2.4375rem);
        padding-bottom: calc(2.4375rem);
    }

    &__burger {
        @include lg (display, none)
    ;
        display: block;
    }
}

.col-btn {
    @include lg(justify-content, flex-end);
    @include lg (display, flex);
    display: none;
    justify-content: start;
}

.header--fixed {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    -webkit-box-shadow: -4px 14px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -4px 14px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: -4px 14px 8px 0 rgba(34, 60, 80, 0.2);
}