.header {
    background: $gray;

    &__col {
        @include lg (width, calc(100% / 12 * 4))
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding-top: calc(39px);
        padding-bottom: calc(39px);
        @include lg(flex-direction, row);
    }
    &__burger {
        display:block;
        @include lg (
            display,none
        )
    }
}
.col-btn{
    display: none;
    justify-content: start;
    @include lg(
        justify-content,flex-end 
    );
    @include lg (
        display, flex
    );
}