.slider-baige {
    @include lg (justify-content, left);
    display: flex;
    justify-content: center;
    margin-bottom: calc(2.5rem);
}

.slider-container {
    margin-top: calc(4.625rem);
}

.slider-title {
    @include lg (text-align, left);
    @include lg (width, 50%);
    @include lg (margin-bottom, 0);
    width: 100%;
    text-align: center;
    margin-bottom: calc(2.5rem);
}

.slider-row {
    @include lg (flex-direction, row);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider-pagination {
    @include lg (justify-content, flex-end);
    display: flex;
    justify-content: center;
    // width: 100%;
    // @include lg (width,calc(50% - 245px));
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 23.125rem;


    &__next {
        cursor: pointer;
    }

    &__prew {
        cursor: pointer;
    }

    &__text {}
}

.slider-pagination-icon {
    fill: #b9b9b9;
}

.slider-pagination-icon:hover {
    fill: $orange;
}