.video {
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(35, 36, 32, 1), rgba(35, 36, 32, 1)),
        url(../../../img/Video-bg.png);

    &__row {
        @include md (width, calc(100% / 12 * 5));
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: auto;
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    &__text {
        font-size: 16px;
        line-height: 20px;
        color: $white;
    }

    &__title {
        @include md(font-size, 40px);
        font-size: 24px;
        line-height: 49px;
        color: $white;
    }
    &__btn {
        display: flex;
        align-items: center;
        margin-top: 2rem;
    }
}
/*CSS*/
.pulse {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background: $orange;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(197, 79, 36, 1);
    animation: pulse 1.5s infinite;
}

.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(197, 79, 36, 1);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(197, 79, 36, 1);
        box-shadow: 0 0 0 0 rgba(197, 79, 36, 1);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}