.block-1 {
    margin-top: calc(3.75rem);
}

.change {
    &__row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include lg (flex-direction, row);

    }

    &__col {
        display: flex;
        justify-content: center;
    }
}

.text {
    display: flex;
    justify-content: center;
    @include lg (width, calc(100% - 13.125rem));
    @include lg (justify-content, end);

}

.main-image {
    position: relative;
}

.main-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: calc(3.75rem);
    @include md(flex-direction, row);
    @include lg(margin-top, 0rem);
}

.main-card-1 {
    margin-bottom: calc(3.75rem);
    @include lg (position, absolute);
    @include lg (margin-bottom, 0rem);
    @include lg (bottom, 6.25rem);
    @include lg (right, 0);
}

.main-card-2 {
    @include lg (position, absolute);
    @include lg (left, 7.688rem);
    @include lg (top, 33.438rem);
}