.loader> {
    display: none;
}

.preload {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    height: 100%;
    background: $white url(../../../img/loader.svg) center center no-repeat;
}