.header-btn {
    display: flex;
    justify-content: center;
    // Обязательно для кнопки анимация
    position: relative;
    padding: 12px 20px;
    cursor: pointer;
    overflow-x: hidden;
}

.header-btn:hover {
    background-color: $dark;
    transition: .7s;
    border-radius: 10px;
}

// Анимация кнопки
.header-btn .flare {
    position: absolute;
    top: 0;
    left: -150%;
    width: 30%;
    height: 100%;
    transform: skewX(-45deg); // Наклон
    animation: flareAnimation 2s infinite linear;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }

    100% {
        left: 150%;
    }
}