.counts {
    display:flex;
    justify-content: flex-end;
    &__row{
        width: 100%;
        display: flex;
        justify-content:center;
        @include lg (justify-content,space-between);
        @include lg (width,calc(100% - 7.688rem));
    }
    &__col {
    }
}
.count-panel {
    padding-top:calc(2.8125rem/ 2);
    padding-bottom:calc(2.8125rem/ 2);
    @include lg (padding-top,calc(2.813rem));
    @include lg (padding-bottom,calc(5.188rem));
    
}
.count-vector {

    display: flex;
    align-self: end;
    display:none;
    @include lg (display,block);
}
.count-arrow{
    display:none;
    @include lg (display,block);
}

