.panel {
    @include lg (align-items,center);
    display: flex;
    justify-content: space-between;
    text-align: center;
    &__col {
        @include lg ( width,calc(33% - 88px));
        width: 100%;
    }

    &__number {
        @include md(font-size,50px);
        @include md(line-height,50px);
        cursor: pointer;
        font-weight: 700;
        font-size: 25px;
        line-height: 25px;
        &--orange {
            // color: $orange;
        }
    }
    &__number:hover {
        color: $orange;
        transition: $normal;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    &__border {
        @include lg (display,block);
        display: none;
        height: 49px;
        border: 1px solid #000000;
        transform: rotate(180deg);
    }

    &__volunteers {}

    &__year {}
}
