.header-burger {
    cursor: pointer;
    z-index: 999;
    position: relative;

}

.bar1,
.bar2,
.bar3 {
    width: 40px;
    height: 1px;
    background-color: #000;
    margin: 10px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color:#fff;
    
    
}

.change .bar2 {
    opacity: 0;
 

}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color:#fff;
}

.hedear-menu-2 {
    display: none;
}

.hedear-menu-2.active {
    position: fixed;
    top: 92px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    max-height: 100vh;
    overflow-y: hidden;
    display: block;
}
