@font-face {
    font-family: 'Now';
    src: url('../../fonts/Now-Regular.woff2') format('woff2'),
}
@font-face {
    font-family: 'Nexa';
    src: url('../../fonts/Nexa-Trial-Bold.woff2') format('woff2'),
}