@font-face {
    font-family: 'Now';
    font-weight: 400;
    src: url('../../fonts/Now-Regular.woff2') format('woff2'),
}
// Средне жирный 
@font-face {
    font-family: 'Now';
    font-weight: 500;
    src: url('../../fonts/Now-Medium.woff2') format('woff2'),
}
// Жирный 
@font-face {
    font-family: 'Now';
    font-weight : bold;
    src: url('../../fonts/Now-Bold.woff2') format('woff2'),
    
}