h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, 76.875rem);
    transition:$low;
}

body {
    font-family: 'Now';
    font-size: 16px;
    line-height: 20px;
    color: #252525;
    font-weight: 400;
}
// img 
img:hover{
    opacity: 0.7;
}
.img-responsive {
    width: 100%;
    height: auto;
}
// a 
.menu-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $dark;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: $dark;
}

a:hover {
    opacity: 0.7;
    transition: .3s;

}

li {
    list-style: none;
}

// btn
.btn--orange{
    background: #FF5D24;
    color:$white;
    border-radius: 5px;
    width: 126px;
}

// Заголовки
h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    @include lg (font-size , 56px);
    @include lg (line-height ,65px);
}
h3{ 
    font-size: 24px;
    @include lg (font-size , 50px);
    font-weight: 700;
    line-height: 25px;
    @include lg (line-height ,50px);
    color: $dark;
}
// Волонтеры 
h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: $orange;
}
h5{
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}
// Допольнительное 
.span--orange{
    color: $orange;
}
.text-bold{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color:$dark;
}

