h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, 76.875rem);
    transition: .9s;
}

body {
    font-family: 'Now';
    font-size: 16px;
    line-height: 20px;
    color: #252525;
    font-weight: 400;
}
// img 
img:hover{
    opacity: 0.7;
}

// a 
.menu-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $dark;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
    transition: .3s;

}

li {
    list-style: none;
}

// btn
.btn--orange{
    background: #FF5D24;
    color:$white;
    border-radius: 5px;
    width: 126px;
}

// Заголовки
h2{
    font-weight: 700;
}